.vscode/**
.vscode-test/**
out/**
node_modules/**
dist/**
!dist/extension.js
src/**
script/**
images/icon-source.svg
.gitignore
.yarnrc
bun.lock
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
